/target
/pkg
/packages/offline-sigstore/pkg
/fuzz/artifacts
/fuzz/coverage
/fuzz/target
/go/native
/go/LICENSE
/node_modules
/test-results
**/*.so
**/*.dylib
**/*.dll
**/*.a
**/*.lib
*.profraw
.DS_Store
